<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Document</title>
    {% endblock %}
</head>
<body>
    <nav>
        <div class="Logo"><h1>Online Enrollment</h1></div>
        <div class="navbar">
            <a href="/student">Students</a>
            <a href="/school">Schools</a>
            <a href="/enrollment">Enrollments</a>
            <a href="/course">Courses</a>
            <a href="/tuitionPayment">TuitionPayments</a>
            <a href="/studentform">studentform</a>
        </div>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>