{% extends "base.html" %}

{% block title %}
<title>Students</title>
{% endblock %}

{% block content %}

    <h1>List of students</h1>
    <div class="content">
        {% for x in students %}
        <div>
            <div class="studentID">Student_ID: {{x.student_ID}}</div>
            <div class="studentName">Name: {{x.name}}</div>
            <div class="studentYearlvl">Name: {{x.year_level}}</div>
            <div class="studentDOB">Name: {{x.date_of_birth}}</div>
            <div class="studentparent">Name: {{x.parents_contact_info}}</div><br>
        </div>
        {% endfor %}
    </div>


{% endblock %}