{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>

<body>

    <div class="register-container">

        <h1 class="title">Register Account</h1>

        {% if messages %}
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="POST" class="register-card">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn-register">Register</button>
        </form>

        <p class="login-text">
            Already have an account?
            <a href="{% url 'login_user' %}" class="login-link">Login</a>
        </p>

    </div>

</body>
</html>
